doctype html
html
  head
    title โปรแกรมความเสี่ยง verion 0.0.1
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/lodash/lodash.min.js")
    script(src="/libs/moment/moment.js")

    script.
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('input[readonly]').css('background-color', 'white');
            $('input[disabled="disabled"]').css('background-color', 'white');
        })

    block scripts

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", data-toggle="collapse", data-taget="#navbar",
          aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#")
            i.fa.fa-exclamation-triangle
            | &nbsp; KC Risk
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href="/") หน้าแรก
            li
              a(href="/about") ติดต่อ
            li.dropdown
              a(href="#", data-toggle="dropdown", role="button",
              aria-haspopup="true", aria-expanded="false").dropdown-toggle
                | กิจกรรม
                span.caret
              ul.dropdown-menu
                li
                  a(href="/users/logout") ออกจากระบบ
    .container
      .row
        .col-md-3
          if session.level_user_id==3
              .list-group
                a(href="#").list-group-item.active
                  i.fa.fa-cogs
                  | &nbsp; เครื่องมือ
                a(href="/users/department").list-group-item
                  i.fa.fa-cog
                  | &nbsp;จัดการแผนก
                a(href="/users/user").list-group-item
                  i.fa.fa-users
                  | &nbsp; จัดการผู้ใช้งาน
        .col-md-9
          block content


