extends user_senior_layout

block content

    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-file-zip-o
                | &nbsp; ระบบความเสี่ยงโรงพยาบาลกันทรวิชัย
        .panel-body