extends  ../admin_layout

block scripts
    script(src="/javascripts/abstract_risk.js")

block content
    br
    ol.breadcrumb
        li
            a(href="#") หน้าหลัก
        li.active สรุปความเสี่ยง
    .well.well-sm
        div.form-inline
            .row
                .col-md-5
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;
                        input#Date_Searchrisk(type="date").form-control
                        button#Searchrisk(type="button").btn.btn-success.btn-sm ค้นหา
                .col-md-6
                    .form-group
                        label หัวข้อความเสี่ยง
                        | &nbsp;&nbsp;
                        input#txtSearch(type="text",placeholder="Search..").form-control
                        button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
            br
            .row
                .col-md-6
                    .form-group
                        label แผนก
                        | &nbsp;&nbsp;
                        select.form-control#slDepartment
                            option(value="") กรุณาเลือกรายการ....
                            for p in data.abstracts
                                option(value="#{p.depcode}") #{p.depname}
                        button#btnSearch_department(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; สรุปความเสี่ยง
        .panel-body
            table.table.striped#tblAbstractRisk
                thead
                    tr
                        td ลำดับ
                        td วันที่
                        td หัวข้อความเสี่ยง
                        td หน่วยงาน
                        td(style="width : 110px") สรุปความเสี่ยง
                        td(style="width : 110px")
                            i.fa.fa-print

                    tbody
            ul.pagination#paging

    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title สรุปความเสี่ยง
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    input(type="hidden" value="")#txtId_detail
                    .form-group
                        label(for="txtDetail") เพิ่ม/แก้ไข สรุปความเสี่ยง
                        textarea#txtdetail(type="text", rows="10", placeholder="ยังไม่มีรายละเอียด").form-control
                .modal-footer
                    button.btn.btn-primary#btnAdd
                        i.fa.fa-save
                        | &nbsp; บันทึก
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง




