extends  ../admin_layout

block scripts
    script(src="/javascripts/abstract_risk.js")
    script(src="/javascripts/risk_today_admin.js")
block content
    br
    .well.well-sm#show_search
        div.form-inline
            .row
                .col-md-12
                    button.close(type='button', aria-label='Close')#close_search
                        span(aria-hidden='true') &times;
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch_date(type="button").btn.btn-primary.btn-sm ค้นหา
            br
        div.form-inline
            .row
                .col-md-6
                    .form-group
                        label แผนที่เกิดความเสี่ยง
                        | &nbsp;&nbsp;
                        select.form-control#slDepartment
                            option(value="") กรุณาเลือกรายการ....
                            for p in data.abstracts
                                option(value="#{p.depcode}") #{p.depname}
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch_department(type="button").btn.btn-primary.btn-sm ค้นหา
                .col-md-6
                    .form-group
                        label หัวข้อความเสี่ยง
                        | &nbsp;&nbsp;
                        input#txtSearch(type="text",placeholder="Search..").form-control
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch_topic(type="button").btn.btn-primary.btn-sm ค้นหา
    .panel.panel-primary#show_detail
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; สรุปความเสี่ยง
        .panel-body
            button.btn.btn-xs.btn-primary.pull-right#btnShowSearch
                i.fa.fa-search.fa-lg
                | &nbsp; ค้นหา
        .panel-body
            table.table.table-hover#tblAbstractRisk
                thead
                    tr
                        td ลำดับ
                        td วันที่
                        td หัวข้อความเสี่ยง
                        td หน่วยที่รายงาน
                        td หน่วยที่เกิดความเสี่ยง
                        td(style="width : 200px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                        td(style="width : 90px")
                            i.fa.fa-print

                    tbody
            ul.pagination#paging

    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title สรุปความเสี่ยง
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    input(type="hidden" value="")#txtId_detail
                    .form-group
                        label(for="txtDetail") เพิ่ม/แก้ไข สรุปความเสี่ยง
                        textarea#txtdetail(type="text", rows="10", placeholder="ยังไม่มีรายละเอียด").form-control
                .modal-footer
                    button.btn.btn-primary#btnAdd
                        i.fa.fa-save
                        | &nbsp; บันทึก
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง




