extends  ../admin_layout
block scripts
    script(src="/javascripts/risk_today_admin.js")
    script(src="/javascripts/admin_risk_report_today.js")
block content
    br
    //.well.well-sm#show_search
        div.form-inline
            .row
                .col-md-12
                    button.close(type='button', aria-label='Close')#close_search
                        span(aria-hidden='true') &times;
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#Searchrisk(type="button").btn.btn-primary.btn-sm ค้นหา
            .row
                .col-md-12
                    .form-group
                        label หัวข้อความเสี่ยง
                        | &nbsp;&nbsp;
                        input#txtSearch(type="text",placeholder="Search..").form-control
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
    .panel.panel-primary#show_detail
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการอุบัติการณ์ความเสี่ยงที่รายงานวันนี้
        .panel-body
            //button.btn.btn-xs.btn-primary.pull-right#btnShowSearch
                i.fa.fa-search.fa-lg
                | &nbsp; ค้นหา
            table.table.table-hover#tblAbstractRisk
                thead
                    tr
                        td.h4 ลำดับ
                        td.h4 วันที่
                        td.h4 หัวข้อความเสี่ยง
                        td.h4 หน่วยที่รายงาน
                        td.h4 หน่วยที่เกิดความเสี่ยง
                        td(style="width : 200px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                        td(style="width : 90px")
                            i.fa.fa-print
                    tbody
            ul.pagination#paging