extends  ../layout

block content
    ol.breadcrumb
     li
        a(href='/') หน้าหลัก
     li
        a(herf='#') About
    ul
     for s in tel
            li id: #{s.id} MOO: #{s.moo} ตำบล: #{s.tumb} POST: #{s.post}