extends  ../report_summary_layout
block scripts
    script(src="/javascripts/level.js")
block content
    br
    ol.breadcrumb
        li
            i.fa.fa-circle
            | &nbsp; รายงานความเสี่ยงแยกระดับความรุนแรง
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลวันที่ไม่ถูกต้อง
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        label ประเภทความเสี่ยง :
                        | &nbsp;&nbsp;
                        select.form-control#slRisk_type
                            option(value="") กรุณาเลือกรายการ....
                            for c in data.risk_types
                                option(value="#{c.id}") #{c.name}
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | &nbsp;
            .row
                .col-md-12
                    .form-group
                        label(for="slLevel") ระดับความรุนแรง :
                        | &nbsp;&nbsp;
                        select.form-control#divlevel
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
                        button#btnPrint(type="button").btn.btn-primary.btn-sm ปริ้น

    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานความเสี่ยงแยกระดับความรุนแรง
        .panel-body

            table.table.striped#tblReport_terminal
                thead
                    tr
                        td ลำดับ
                        td วัน/เวลา
                        td อุบัติการณ์ความเสี่ยง
                        td ประเภท
                        td ระดับความรุนแรง
                        td หน่วยงานที่เกิดความเสี่ยง
                        td ทบทวน
                    tbody
            ul.pagination#paging
