extends  ../admin_show_topic_layout
block scripts
    script(src="/javascripts/report_summary_date.js")
block content
    br
    ol.breadcrumb
        li
            i.fa.fa-circle
            | &nbsp; รายงานความเสี่ยงสรุปยอดตามวันที่
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลวันที่ไม่ถูกต้อง
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
                        button#btnPrint(type="button").btn.btn-primary.btn-sm ปริ้น
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานความเสี่ยงสรุปยอดตามวันที่
        .panel-body

            table.table.striped#tblReport_summary_date
                thead
                    tr
                        td ลำดับ
                        td อุบัติการณ์ความเสี่ยง
                        td มค.
                        td กพ.
                        td มีค.
                        td เมษ.
                        td พค.
                        td มิย.
                        td กค.
                        td สค.
                        td กย.
                        td ตค.
                        td พย.
                        td ธค.
                    tbody
            ul.pagination#paging
