extends  ../report_summary_layout
block scripts
    script(src="/javascripts/report_summary.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/abstract_risk") หน้าหลัก
        li.active สรุปรายงานอุบัติการณ์ความเสี่ยง
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลไม่ครบถ้วน
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        input#Date_Searchrisk1(type="date").form-control

                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                            | &nbsp;&nbsp;
                            input#Date_Searchrisk2(type="date").form-control
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        label ประเภทความเสี่ยง
                            | &nbsp;&nbsp;
                            select.form-control#slRisk_type
                                option(value="") กรุณาเลือกรายการ....
                                for c in data.risk_types
                                    option(value="#{c.id}") #{c.name}
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานอุบัติการณ์ความเสี่ยง
        .panel-body

            table.table.striped#tblReport_summary
                thead
                    tr
                        td ลำดับ
                        td อุบัติการณ์
                        td ระดับความรุนแรง
                        td ความเสี่ยงของหน่วยงาน
                        td วันเวลาเกิดเหตุ
                        td(style="width : 150px") รายงาน
                    tbody
            ul.pagination#paging
