extends  ../admin_show_topic_layout
block scripts
    script(src="/javascripts/report_summary.js")
block content
    br
    ol.breadcrumb
        li
            i.fa.fa-circle
            | &nbsp; รายงานความเสี่ยงแยกประเภทคลีนิค
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลไม่ครบถ้วน
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        label ประเภทความเสี่ยง
                        | &nbsp;&nbsp;
                        select.form-control#slRisk_type
                            option(value="") กรุณาเลือกรายการ....
                            for c in data.risk_types
                                option(value="#{c.id}") #{c.name}
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
                        button#btnPrint(type="button").btn.btn-primary.btn-sm ปริ้น
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานความเสี่ยงแยกประเภทคลีนิค
        .panel-body

            table.table.striped#tblReport_summary
                thead
                    tr
                        td ลำดับ
                        td วันเวลาเกิดเหตุ
                        td อุบัติการณ์ความเสี่ยง
                        td ระดับความรุนแรง
                        td(style="width :100px") หน่วยที่เกิดความเสี่ยง
                        td รายงาน
                    tbody
            ul.pagination#paging
