extends  ../admin_layout
block scripts
    script(src="/javascripts/program.js")
block content
    br
    ol.breadcrumb
        li
            a(href="#") หน้าหลัก
        li.active โปรแกรมความเสี่ยง
    .well.well-sm
        div.form-inline
            .row
                .col-md-6
                    label หัวข้อความเสี่ยง
                        | &nbsp;&nbsp;
                    .input-group
                        .input-group-btn
                            input#txtSearch(type="text",placeholder="Search..").form-control
                            button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการโปรแกรมความเสี่ยง
        .panel-body
            buton.btn.btn-success.btn-sm.pull-right#btnShowModal
                i.fa.fa-plus
                | &nbsp; เพิ่มรายการ
            table.table.striped#tblRiskProgram
                thead
                    tr
                        td ลำดับ
                        td รายการ
                        td แก้ไข/ลบ
                    tbody
            ul.pagination#paging

    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-lable='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title  เพิ่ม/แก้ไขรายการ
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden" value="")#txtId
                    .form-group
                        label(for="txtName") รายการ
                        input(type="text")#txtName.form-control
                    .modal-footer
                        button.btn.btn-primary#btnSave
                            i.fa.fa-save
                            | &nbsp; บันทึก
                        button.btn.btn-danger(data-dismiss="modal")
                            | &nbsp; ปิดหน้าต่าง
