extends  ../admin_layout

block scripts
    script(src="/javascripts/risk_today_admin.js")
    script(src="/javascripts/program-group.js")
    script(src="/javascripts/risk_level_month.js")

block content
    br
    .well.well-sm#show_search
        div.form-inline
            .row
                .col-md-12
                    button.close(type='button', aria-label='Close')#close_search
                        span(aria-hidden='true') &times;
            .row
                .col-md-12
                    label ค้นหาจากโปรแกรมความเสี่ยง :
                        | &nbsp;&nbsp;
                    select.form-control#slProgram
                        option(value="") กรุณาเลือกรายการ....
                        for p in data.programs
                            option(value="#{p.id}") #{p.program_risk}
                    button#btnSearch_program(type="button").btn.btn-primary.btn-sm ค้นหา
            br
            .row
                .col-md-12
                    label ค้นจากหมวดหมู่ความเสี่ยง :
                        | &nbsp;&nbsp;
                    .input-group
                        .input-group-btn
                            input#txtSearch(type="text",placeholder="Search..").form-control
                            button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
    .panel.panel-primary#show_detail
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการหมวดหมู่ความเสี่ยง
        .panel-body
            button.btn.btn-sm.btn-primary.pull-right#btnShowSearch
                i.fa.fa-search.fa-lg
                | &nbsp; ค้นหา
            button.btn.btn-primary.btn-sm.pull-right#btnShowModal
                i.fa.fa-plus
                | &nbsp; เพิ่มรายการ
            table.table.striped#tblRisk
                thead
                    tr
                        td ลำดับ
                        td(style="width : 400px") รายการ
                        td(style="width : 350px") โปรแกรม
                        td(style="width : 20px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                    tbody
            ul.pagination#paging

    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title เพิ่ม/แก้ไขรายการ
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    .form-group
                        label(for="slProgram")
                        select.form-control#slProgram2
                            for p in data.programs
                                option(value= "#{p.id}") #{p.program_risk}
                    .form-group
                        label(for="txtName") รายการ
                        input(type="text")#txtName.form-control
                .modal-footer
                    button.btn.btn-primary#btnAdd
                        i.fa.fa-save
                        | &nbsp; บันทึก
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง








