extends  ../user_senior_layout
block scripts
    script(src="/javascripts/user_senior_risk_report.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/user_senior_risk_report") หน้าหลัก
        li.active ทบทวนความเสี่ยง
        li #{rows.topic_risk}
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรอกข้อมูลไม่สมบูรณ์
    ul.nav.nav-tabs(role="tablist")
        .tab-panel(role='tabpanel')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-file-text
                        | &nbsp; ส่วนที่ 5 ทบทวนการเกิดอุบัติการณ์ (กรรมการความเสี่ยง/หัวหน้า)
                .panel-body
                    .row
                        .col-md-3
                            input(type="hidden",value="#{risk_id}")#riskid
                            .form-group
                                label(for="txtDate_repeat") วันที่ทบทวน
                                if rows.date_repeat
                                    input#txtDate_repeat(type="date", value="#{rows.date_repeat}").form-control
                                else
                                    input#txtDate_repeat(type="date").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtName_repeat") ผู้ทบทวน
                                input#txtName_repeat(type="text", placeholder="ชื่อผู้ทบทวน").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtResult_repeat") ผลทบทวน
                                textarea#txtResult_repeat(type="text" rows="3", placeholder="ผลการทบทวน").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtDepcode_connected") ชื่อหหน่วยงานที่เกี่ยวข้อง
                                textarea#txtDepcode_connected(type="text" rows="3", placeholder="ชื่อหน่วยงานที่เกี่ยวข้อง").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtEdit_system") การแก้ไขเชิงระบบ
                                textarea#txtEdit_system(type="text" rows="3", placeholder="การแก้ไขเชิงระบบ").form-control
                    .row
                        .col-md-3
                            .form-group
                                label(for="txtDate_finished") วันที่สิ้นสุดการแก้ไข
                                input#txtDate_finished(type="date").form-control
                    .row
                        .col-md-8
                            .form-group
                                label(for="txtNote") หมายเหตุ
                                textarea#txtNote(type="text" rows="3", placeholder="หมายเหตุ" ).form-control
    button(type="button").btn.btn-success#btnRepeat บันทึก
