extends  ../user_senior_layout
block scripts
    script(src="/javascripts/user_senior_risk_report.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/user_senior_risk_report") หน้าหลัก
        li.active รายการอุบัติการณ์ความเสี่ยง
    .well.well-sm
        div.form-inline
            .row
                .col-md-5
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;
                        input#Date_Searchrisk(type="date").form-control
                        button#Searchrisk(type="button").btn.btn-success.btn-sm ค้นหา
                .col-md-6
                    .form-group
                        label หัวข้อความเสี่ยง
                        | &nbsp;&nbsp;
                        input#txtSearch(type="text",placeholder="Search..").form-control
                        button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการอุบัติการณ์ความเสี่ยง
        .panel-body

            table.table.striped#tblRisk_report
                thead
                    tr
                        td ลำดับ
                        td วันที่
                        td ประเภท
                        td หัวข้อความเสี่ยง
                        td(style="width : 150px")
                            i.fa.fa-cog
                        td
                            i.fa.fa-print
                    tbody
            ul.pagination#paging
