extends  ../report_senior_layout
block scripts
    script(src="/javascripts/user_senior_report.js")
block content
    br
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลวันที่ไม่ถูกต้อง
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Searchrisk1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Searchrisk2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
                        button#btnPrint(type="button").btn.btn-primary.btn-sm ปริ้น
    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานอุบัติการณ์ความเสี่ยง
        .panel-body
            table.table.table-hover#tblReport_terminal
                thead
                    tr
                        td.h4 ลำดับ
                        td.h4 วัน/เวลา
                        td.h4 อุบัติการณ์ความเสี่ยง
                        td.h4 ประเภท
                        td.h4 ระดับความรุนแรง
                        td(style="width : 100px").h4 หน่วยที่เกิดความเสี่ยง
                        td.h4 ทบทวน
                    tbody
            ul.pagination#paging
