extends  ../report_senior_layout
block scripts
    script(src="/javascripts/user_senior_report.js")
block content
    br
    ol.breadcrumb
        li
            a(href="/user_senior_risk_report") หน้าหลัก
        li.active สรุปรายงานอุบัติการณ์ความเสี่ยง
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลวันที่ไม่ถูกต้อง
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        input#Date_Searchrisk1(type="date").form-control

                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                            | &nbsp;&nbsp;
                            input#Date_Searchrisk2(type="date").form-control
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                            button#btnSearch(type="button").btn.btn-success.btn-sm ค้นหา
                            button#btnPrint(type="button").btn.btn-success.btn-sm ปริ้น

    .panel.panel-primary
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายงานอุบัติการณ์ความเสี่ยง
        .panel-body

            table.table.striped#tblReport_terminal
                thead
                    tr
                        td ลำดับ
                        td วัน/เวลา
                        td อุบัติการณ์ความเสี่ยง
                        td หมวดหมู่ความเสี่ยง
                        td โปรแกรมความเสี่ยง
                        td ประเภท
                        td ระดับความรุนแรง
                        td หน่วยงาน
                        td ทบทวน
                    tbody
            ul.pagination#paging
